@using System.Security.Claims
@using eStoreLibrary
@model eStore.Models.OrderDetailsModel

@{
    ViewData["Title"] = "Create Order";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
    string userId = "";
    //var claims = User.Claims;
    //string role = claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Role)).Value;
    if (!eStoreClientUtils.IsAdmin(User))
    {
        userId = User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.NameIdentifier)).Value;
    } else
    {
        userId = "Admin";
    }
}
<input type="hidden" id="memberId" value="@userId" />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedDate" class="control-label"></label>
                <input asp-for="ShippedDate" class="form-control" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnCreate" value="Create" class="btn btn-primary" />
            </div>

            <div class="text-danger" id="errorText">

        </div>
        </form>
    </div>

    <div class="col-md-7 offset-md-1">
        <h5>Order Details</h5>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>
                    <th>
                        </th>
                </tr>
            </thead>
            <tbody id="orderProductsDetails">
                
            </tbody>
        </table>
        <p class="text-success" id="orderTotal"></p>
@*        @if (orderDetails != null && orderDetails.Any())
        {
            
        }*@
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Add to Cart</h4>
        <form asp-action="AddToCart">
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductsSelectedList"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnAddToCart" value="Add To Cart" class="btn btn-outline-primary" />
            </div>
            <div id="addToCartText" class="text-danger">

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Orders/create.js"></script>
    <script src="~/js/Orders/addToCart.js"></script>
}
